aside {
  background-color: var(--gray-600);
  padding-inline: 239px;
}

#intro {
  padding-inline: 163px;
  padding-block: 88px 56px;
  text-align: center;

  h2 {
    font: var(--subtitle);
    color: var(--color-red);
    padding-bottom: 8px;
  }

  h1 {
    font: var(--title-md);
    color: var(--gray-100);
  }
}

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  place-items: center;
  padding-bottom: 120px;
}

.service {
  border: 3px solid var(--gray-500);
  border-radius: 12px;
  width: 280px;
  height: 155px;
  padding: 20px;


  h1 {
    font: var(--title-sm);
    color: var(--gray-100);

    padding-top: 20px;
    padding-bottom: 8px;
  }
  
  span {
    font: var(--text-sm);
    color: var(--gray-200);
  }
}