footer {
  background-image: url(../assets/background/background-contacts.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 128px 120px 200px;
}

footer div:nth-child(1) {
  text-align: center;
  padding-bottom: 48px;

  h2 {
    font: var(--subtitle);
    color: var(--color-purple);
    padding-bottom: 8px;
  }
  
  h1 {
    font: var(--title-md);
    color: var(--gray-100);
    padding-bottom: 8px;
  }

  span {
    font: var(--text-md);
    color: var(--gray-200);
  }
}

.social-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  list-style: none;
}

.list {
  li {
    background-color: var(--gray-400);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    margin-bottom: 16px;
    width: 400px;
    height: 68px;

    span {
      font: var(--text-md);
      color: var(--gray-200);
      display: flex;
      flex: 1;
      padding-inline: 12px;
    }
  }
}

.list:hover {
  li:nth-child(1) {
   border: 1px solid var(--color-blue);
  }

}